#galeria{	
	position: relative;

}	

#collage{	
	position: relative;			
	overflow: hidden;	
	height: 70vw;
	margin:0;
}
.column{
	position: relative;
	width: 100%;
	height:	50%;
	display: flex;	
	overflow: hidden;			
}			
.album img{			
	overflow: hidden;	
	min-height: 100%;
}
.correct-left{
	margin-left: -35%;
}
.correct-top{
	margin-top: -25%;
}
.correct-width{
	max-width: 200%;	
}
.correct-height{
	width: 100%;
	height: auto;
}

.album:hover{			
 	transform: scale(1.2); 	
}		
.album{
	transition: all 1s ease;
	height: 100%;
	overflow: hidden;
	position: relative;	
	flex-grow: 1;
	flex-basis: 0;
	z-index: 10;
}
#parques{
	flex-grow: 1.7;
}
.album p{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    z-index: 1;
    padding: 10px;
    background-color: rgba(0,0,0,0.5);   
}



@media screen and (max-width: 600px){
	.column{
		display: block !important;
		height: auto !important;
	}	
	.album{
		max-height: 100px;
		width: 100%;		
	}
	.album img{
		width: 100%;	
		margin-left: 0;
		margin-right: 0;
		margin-top: -25%;
	}
	#collage{
		height: auto !important;
	}
	.album p{
		font-size: 25px;
	}
}
