@import url('https://fonts.googleapis.com/css?family=Rajdhani');
* {
	box-sizing: border-box;	
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}	
/*------- Colores base ----------------*/
section,footer,footer a{
	background: white;
	color: black !important;;
}

header{
	background: black;
}
h1, li a{
	color: white;
	/*text-shadow: 2px 2px 1px #000;*/
	text-shadow:2px 2px 1px #000;
}
li a{
	border: 0px solid white;
}

/*-----------------------*/

body{	
	/*font-family: 'PT Sans Narrow', sans-serif;	*/
	 font-family: 'Rajdhani', sans-serif;
}
section{	
	/*No tocar*/
	padding-top:100px; 
	border: 1px red solid;
}


header{
	position: fixed;
	z-index: 20;
	width: 100%;
	height: 100px;	
	display: flex;	
	vertical-align: middle;
	justify-content: space-between;	
}
h1,h2,nav{
	user-select: none;
}
nav{
	margin-top: auto;
	margin-bottom: auto;	
	height: 70%;		
	text-transform: uppercase;	
	text-align: right;	
}

#botonMenuMovil{
	display: none;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;    
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;   
    display: block;
    transition: 0.3s;
}


.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#letrero{	
	height: 100%;
	padding: 5px;	
	display: inline-block;
}
#logo{
	position: relative;
	height: 100%;		
}
#letrero img,#letrero h1{
	display: inline;	
	vertical-align: middle;
}
h1{
	margin-left: 30px;
	padding: 0px;
	font-size: 30px;	
	
}
ul{			
	position: relative		
	border: 1px solid green;
	height: 100%;
	padding: 0;
}
li{
	display: inline-block;	
	height: 100%;	
	margin-right: 15px;		
	position: relative;
}
.active{
	border-bottom: 5px solid #FFFFFF;
}
li a{	
	height: 100%;
	display: block;		
	text-decoration: none;		
	font-weight: bold;	
	

	/* AQUI */
	font-size: 30px;
}

#mySidenav a{
	color:white;
}


h2{
	text-align: center;
	margin: 10px auto 10px auto;
	font-size: 40px;
	
}

section,footer,h3{
	width:100%;		
	border: 1px orange solid;
}

article{
	
	margin: 10px;
	font-size: 30px;	
	position: relative;		
	vertical-align: top;
	
}
article>p{
	font-size: 25px;	
	text-align: center;	
	
}


footer{
	text-align: center;
	border: 1px solid #D91BE5;
	margin:10px auto 10px auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

@media screen and (max-width: 1200px){
	section{	
		/*No tocar*/
		padding-top:80px; 
	}
	header{
		height: 80px
	}
	h1{
		font-size: 25px;
	}
	li a{
		font-size: 25px;
	}
}
@media screen and (max-width: 900px){
	
	#botonMenuMovil{		
		display: inline-block;			
		margin-top: auto;
		margin-bottom: auto;	
		height: 70%;			
		padding-top: 10px;	
	}

	nav{
		display: none !important;
		margin: 0 !important;
	}
	#letrero span{
		display:none !important;
	}
}


@keyframes pulse {
  0% ,100% {  
    transform: scale(1);
  }
  50% {    
    transform: scale(1.3);
  } 
}
/*
 <div clase="clase1  clase2">
*/

}

/* Secuencia directa*/
p+p{

}
/* Contenidos directamente p en div */
div > p{

}
/*secuencia indirecta */
p~p{

}

/*atributo*/
h6[title]{

}
h2[title~="contienvalor"]{

}
/* lang="es-ES"*/

h2[title|="es"]{

}





/* color: red !important; forza */
/*
display= 
	hidden; desaparece el objeto
	block; ocupa todo el espacio horizontal del padre
	inline; todos sus hermanos ocupan un renglon adaptable
	inline-block; ocupa varios reglones junto a hermanos	
position=
	Absolute , primera herencia con relative
	relative , respecto al padre
	fixed , respecto a la ventana
	z-index= 2; entre mayor mas adelante 
overflow=hiden; desaparece lo que desborda
visility=
	hidden; no aparece pero continua su espacio
*/