@import url('https://fonts.googleapis.com/css?family=Rajdhani');
* {
	box-sizing: border-box;	
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}	
/*------- Colores base ----------------*/
section,footer,footer a{
	background: black;
	color: white !important;;
}
header{
	height: 100px;
	background : white;	
	box-shadow: inset 0px -10px 40px -10px rgba(0,0,0,1);
}
li a:hover{
	background: black;
	color:white;	
}
h1, li a{
	color: black;
	/*text-shadow: 2px 2px 1px #000;*/	
}
a{
	cursor:pointer;
}
li a{
	border: 0px solid black;
}
body{	
	/*font-family: 'PT Sans Narrow', sans-serif;	*/
	 font-family: 'Rajdhani', sans-serif;
}
.previous{
 	display: inline-block;
 	padding: 10px 0px 0px 15px;	
 	float:left;
 	border-bottom: 2px solid transparent; 
 	float:left;
 	color:black;
 	text-shadow: none;
 }
 .previous:hover{
 	/* -------- */
 	border-bottom: 2px solid black; 
 }
 .previous:active{
	transform: scale(1.2);
 }

/*-----------------------*/


section{	
	/*No tocar*/
	padding-top:100px; 
	border: 1px red solid;
}


header{
	position: fixed;
	z-index: 20;
	width: 100%;
	height: 100px;	
	display: flex;	
	vertical-align: middle;
	justify-content: space-between;	
}
h1,h2,nav{
	user-select: none;
}
nav{
	margin:0;	
	padding: 0;
	height: 100%;		
	text-transform: uppercase;	
	text-align: right;	
}

#botonMenuMovil{
	display: none;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;    
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 30px;   
    display: block;
    transition: 0.3s;
    color:white;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

i {
	font-style: normal;
}

#letrero{	
	height: 100%;
	padding: 5px;	
	display: inline-block;
}
#logo{
	position: relative;
	height: 100%;		
}
#letrero img,#letrero h1{
	display: inline;	
	vertical-align: middle;
}
h1{
	margin-left: 30px;
	padding: 0px;
	font-size: 30px;	
	
}
ul{			
	position: relative		
	border: 1px solid green;
	height: 100%;
	padding: 0;
	margin:0;
}
li{
	top:0px;
	display: inline-block;	
	height: 100%;	
				
	position: relative;
}
.active{
	border-bottom: 5px solid #FFFFFF;
}
li a{	
	height: 100%;
	display: block;		
	text-decoration: none;		
	font-weight: bold;	
	padding: 10px;
	padding-top:30px;
		/* AQUI */
	font-size: 30px;
}



h2{
	text-align: center;
	margin: 10px auto 10px auto;
	font-size: 40px;
	
}

section,footer,h3{
	width:100%;		
	border: 1px orange solid;
}

article{	
	margin: 10px;
	font-size: 30px;	
	position: relative;		
	vertical-align: top;
	
}
article>p{
	font-size: 25px;	
	text-align: center;	
	
}


footer{
	text-align: center;
	border: 1px solid #D91BE5;
	margin:10px auto 10px auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

@media screen and (max-width: 1200px){
	section{	
		/*No tocar*/
		padding-top:80px; 
	}
	header{
		height: 80px
	}
	h1{
		font-size: 25px;
	}
	li a{
		font-size: 25px;
	}
}
@media screen and (max-width: 900px){
	#letrero i{
		display:none !important;
	}
}
@media screen and (max-width: 700px){
	
	#botonMenuMovil{		
		display: inline-block;				
		height: 100%;	
	}
	#botonMenuMovil{
		margin-top:-4px;
	}

	nav{
		display: none !important;
		margin: 0 !important;
	}	
}


@keyframes pulse {
  0% ,100% {  
    transform: scale(1);
  }
  50% {    
    transform: scale(1.3);
  } 
}
/*
 <div clase="clase1  clase2">
*/

}

/* Secuencia directa*/
p+p{

}
/* Contenidos directamente p en div */
div > p{

}
/*secuencia indirecta */
p~p{

}

/*atributo*/
h6[title]{

}
h2[title~="contienvalor"]{

}
/* lang="es-ES"*/

h2[title|="es"]{

}





/* color: red !important; forza */
/*
display= 
	hidden; desaparece el objeto
	block; ocupa todo el espacio horizontal del padre
	inline; todos sus hermanos ocupan un renglon adaptable
	inline-block; ocupa varios reglones junto a hermanos	
position=
	Absolute , primera herencia con relative
	relative , respecto al padre
	fixed , respecto a la ventana
	z-index= 2; entre mayor mas adelante 
overflow=hiden; desaparece lo que desborda
visility=
	hidden; no aparece pero continua su espacio
*/